* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    margin: 0 auto;
}

.header {
    margin-top: 10px;
}

.title {
    font-family: 'Lobster Two', cursive;
    font-size: 10mm;
    color: rgb(16, 141, 0);

    width: 600px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

body {
    background: url(../img/855685.jpg);
    background-size: cover;
    background-position-y: -100px;
}

.bg {
    background-color: #222;
    width: 100rem;
    height: 100rem;
    position: fixed;
    z-index: -1;
    opacity: 0.4;
    top: -26px;
}

/* FORM */

.formBox {
    width: 600px;
    background-color: #222;
    border-radius: 20px;
} 

form {
    width: 85%;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: rgb(16, 141, 0);
    margin-bottom: 3%;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(16, 141, 0);
}

.btn:focus {
    outline: none;
    background-color: rgb(0, 0, 0);
    color: rgb(16, 141, 0);
}

.marketing {
    width: 600px;
    background-color: #222;
    color: #fff;
    padding-top: 10px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-danger {
    width: 90px;
    height: 35px;
}